$color-1: #d86f36;
$color-2: #1c1010;

$blue-grey: #f9f8fc;
$dark-grey: #555555;
$secondary-text-color: #6e6e6e;

.color-1 {
    color: $color-1;
}

.color-2 {
    color: $color-2;
}

.dark-grey {
    color: $dark-grey;
}