$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// .container {
//     margin: auto;
//     width: 100%;

//     @media all and (min-width: $md) {
//         width: 90%;
//     }

//     @media all and (min-width: $lg) {
//         width: 80%;
//     }
// }

// .container-fluid {
//     width: 100%;
// }