AddDefaultCharset utf-8
RewriteCond %{SERVER_PORT} !^443$ 
RewriteRule ^(.*)$ https://uptad-jambyl.kz/$1 [R=301,L]
ErrorDocument 401 https://uptad-jambyl.kz/
ErrorDocument 403 https://uptad-jambyl.kz/
ErrorDocument 404 https://uptad-jambyl.kz/
ErrorDocument 500 https://uptad-jambyl.kz/