.animated-search {
    transform: scale(0.65);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media all and (min-width: $md) {
      transform: scale(0.8);
    }

    &__search-box {
      height: 100px;
      position: relative;
    }

    &__input {
      position: absolute;
      top: 20px;
      right: 5px;
      box-sizing: border-box;
      width: 0px;
      height: 63px;
      padding: 0 20px;
      outline: none;
      font-size: 18px;
      border-radius: 50px;
      color: #29313a;
      border: 3px solid $color-1;
      transition: all 0.8s ease;

      &_active {
        width: 250px;
        //right: 100px;
      }
    }

    &__btn {
      position: absolute;
      width: 80px;
      height: 80px;
      background: $color-1;
      border-radius: 50%;
      right: 0;
      top: 10px;
      cursor: pointer;
      text-align: center;
      line-height: 80px;
      font-size: 30px;
      color: #fff;
      transition: all 0.8s ease;
      display: flex;
      justify-content: center;
      align-items: center;

      &_active {
        transform: rotate(-360deg);
        //right: 100px;
      }
    }
  }
  
  
  
  
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color-1;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color:$color-1;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $color-1;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $color-1;
  }
  
  
  
 