.logo {

    width: auto;
    height: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;

    &__img {
        display: block;
        height: 60%;
    }

    &__divider {
        background-color: $divider-color;
        height: 80%;
        width: 2px;
    }

    &__text {
        width: 40%;
        display: block;
        font: {
            size: 17px;
            weight: 300;
        }
        text-transform: uppercase;
    }
}