.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__add-time {
        position: absolute;
        top: 5px;
        right: 20px;
        color: white;
        font: {
            size: 15px;
            weight: 500;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    &__heading {
        width: 80%;
        margin-bottom: 10px;
        display: block;
        text-align: center;

        transition: 0.5s;
        font: {
            size: 20px;
            weight: 800;
        }
    }

    &:hover &__heading {
        transition: 0.5s;
        color: $color-1;
    }

    &__text {
        width: 90%;
        text-align: center;
    }

    cursor: pointer;
}