.person-info {
    display: flex;
    justify-content: center;

    &__card {
        border-radius: 0;
    }

    &__img {
        border-radius: 0;
    }

    &__text-muted {
        font-style: italic;
    }

    &__button {
        border: none;
        border-radius: 0;
        background-color: $color-1;

        &:hover {
            background-color: $hover-button-color;
        }
    }



}