.person-info {
    $button-transition: 1s;
    height: 450px;
    display: flex;
    justify-content: center;

    transition: $button-transition;

    &__card {
        border-radius: 0;
    }

    &__img {
        border-radius: 0;
    }

    &__text-muted {
        font-style: italic;
    }

    &__button {
        border: none;
        border-radius: 0;
        background-color: $color-1;

        &:hover {
            transition: $button-transition;
            background-color: $hover-button-color;
        }
    }



}