.search-field {
    width: 50%;
    display: inline-block;
    &__input {
        width: 100%;
        height: 30px;
        padding: 5px 10px;
        border: {
            width: 1px;
            style: solid;
            color: $color-1;
            radius: 15px;
        }
    }
}