.header {
    &__input {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__change-font-button {
        color: $color-1;
        font-size: 30px;
        cursor: pointer;

        &:hover {
            color: #FFFC00;
        }
    }

    @media all and (min-width: $md) {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: url('/assets/img/background/flag.jpg');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 82% 0%;
        background-attachment: fixed;

        
        &__logo-container {
            width: 35%;
        }

        &__input {
            width: 35%;
        }
    }

    @media all and (max-width: $lg) {
        &__contact-container {
            display: none;
        }
    }
}