.header {
    &__input {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @media all and (min-width: $md) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: url('/assets/img/background/flag.jpg');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 80% 0%;
        background-attachment: fixed;
        
        &__logo-container {
            width: 40%;
        }

        &__input {
            width: 40%;
        }
    }

    @media all and (max-width: $lg) {
        &__contact-container {
            display: none;
        }
    }
}