<video controls width="100%" height="auto">
    <source src="/assets/video/payment.mp4" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
    <source src="/assets/video/payment.webm" type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
</video>
<video controls width="100%" height="auto" class="mt-2">
    <source src="/assets/video/2.MP4" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
    <source src="/assets/video/2.webm" type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
</video>
<video controls width="100%" height="auto" class="mt-2">
    <source src="/assets/video/3.MP4" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
    <source src="/assets/video/3.webm" type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
</video>